.topbar {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}

#topbar-logo {
  position: absolute;
  left: 2.92%;
  right: 86.46%;
  top: 25%;
  bottom: 26.67%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  text-align: right;

  color: #1875F0;

}

.topbar-input-icon {
  position: absolute;
  left: 20.56%;
  right: 78.61%;
  top: 43.33%;
  bottom: 36.67%;

  background: #ffffff;
}

#topbar-input {
  position: absolute;
left: 22.5%;
right: 73.54%;
top: 38.33%;
bottom: 31.67%;

font-family: Segoe UI;
font-size: 12px;
line-height: 16px;

color: #979797;
}

.topbar-right #one {
  position: absolute;
  left: 67.78%;
  right: 28.31%;
  top: 38.33%;
  bottom: 36.67%;

  font-family: Segoe UI;
  font-size: 14px;
  line-height: 19px;

  /* Text */

  color: #647787;
}

.topbar-right #two {
  position: absolute;
  left: 74.24%;
  right: 23.89%;
  top: 38.33%;
  bottom: 36.67%;

  font-family: Segoe UI;
  font-size: 14px;
  line-height: 19px;

/* Text */

color: #647787;
}

.topbar-right #three {
  position: absolute;
  left: 80.01%;
  right: 18.98%;
  top: 41.16%;
  bottom: 38.91%;

/* Text */

}
.topbar-right #three sub {
  position: absolute;
  left: 80.69%;
  right: 18.89%;
  top: 30%;
  bottom: 46.67%;

  font-family: Segoe UI;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #FCFDFF;
}
.topbar-right-profile {
  left: 84.72%;
  right: 8.96%;
  top: 43.33%;
  bottom: 25%;

  font-family: Segoe UI;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  text-align: center;

  /* Text */

  color: #647787;
}

.topbar-right-profile span {

  position: absolute;
  left: 89.38%;
  right: 8.96%;
  top: 25%;
  bottom: 51.67%;

  font-family: Segoe UI;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #647787;
}

.topbar-right-profile a img {
  position: absolute;
  left: 91.67%;
  right: 5.56%;
  top: 6.67%;
  bottom: 5%;
}

.sidebar {
 /* Rectangle 2 */

width: 260px;
height: 1510px;
left: 1px;
top: 0px;
background: #FFFFFF;

}


.sidebar-btn {
width: 163px;
left: 32px;
top: 93px;
background: #27AE60;
border-radius: 30px;
}

.sidebar-heading {


margin: .5em 6.5em 11em 3em;
font-family: Segoe UI;
font-size: 1em;
line-height: 15px;
/* identical to box height */


/* Text */

color: #647787;
}

.sidebar-overview {


margin: .5em 6.5em 11em 3em;

font-family: Segoe UI;
font-size: 1em;
line-height: 15px;
/* identical to box height */


/* Text */

color: #647787;
}

.sidebar-payments-heading {

}